* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.accordion-section {
  display: flex;
}

.accordion-section .accordion {
  width: 100px;
  height: 600px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.accordion-section .accordion.active {
  transition: all 0.8s ease-in-out;
  width: 100%;
  height: 600px;
}

.accordion-section .accordion.active a {
  transform: rotate(0deg);
  padding: 30px;
}

.accordion-section .accordion.active p {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.85s;
}

.accordion-section .accordion.active span.close {
  right: 30px;
  transform: rotate(360deg);
}

.accordion-section .accordion.active span.close::after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.accordion-section .accordion a {
  text-decoration: none;
  width: 600px;
  height: 100px;
  display: flex;
  padding-left: 30px;
  align-items: center;
  transform: rotate(90deg);
  transform-origin: 8%;
  font-size: 30px;
  line-height: 120%;
  transition: all 0.5s ease-in-out;
}

.accordion-section .accordion p {
  opacity: 0;
  font-size: 20px;
  line-height: 120%;
  padding: 0px 30px 30px;
  position: relative;
  z-index: -1;
}

.accordion-section .accordion span.close {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 35px;
  width: 30px;
  height: 30px;
  transition: all 1s ease-in-out;
}

.accordion-section .accordion span.close::after,
.accordion-section .accordion span.close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 10%;
  border-radius: 50px;
  background-color: #000;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out;
}

.accordion-section .accordion span.close::after {
  transform: translate(-50%, -50%) rotate(-90deg);
  transition-delay: 0.3s;
}